.btn-primary,
.btn-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.btn-primary.active,
.btn-primary:active,
.btn-xl.active,
.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

body {
    overflow-x: hidden;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #F95466
}
.text-muted {
    color: #777
}
.text-primary {
    color: #ff9666
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}

	/*  ***********   footer *************** */
	
.diarissima-site-map-wrap{margin: 20px 0 0}	
.footer-links{line-height: 1}
.footer-link-big{ color: #ff9966; margin: 0 0 20px 0; display: block}
.footer-link-small{display: block}
.footer-link-big:hover{
	color: #FE6E7E; text-decoration: none
}
footer a{ color: #fff; text-decoration: none}
footer a:hover{ color: #ff9966; text-decoration: none}
.footer-links{text-align: left;}
.social-m-footer-wrap{margin: 60px 0 0 0}
.social-m-footer-wrap ul li a{height: 40px; width: 40px; background-color: #666666; border-radius: 100%; display: block; font-size: 25px; line-height: 36px; }
.social-m-footer-wrap ul{list-style: none; display: inline-block; padding: 0px;}
.social-m-footer-wrap h4{color: #fff; font-weight: 400; font-size: 13px;}
.social-m-footer-wrap ul li{display: inline; float: left; margin: 4px}
.footer-logo-wrap{margin: -26px 0px 0px;}
.footer-logo-wrap img{width: 200px}
.creditos-footer{color: #fff; font-size: 11px; margin: 0 0 40px;}

a.active,
a:active,
a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #FF9666
}
a:not(.footer-link-big) {
    color: #F95466
}


.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.white {
    color: #fff
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #fed136;
    border-color: #fed136
}
.btn-primary .badge {
    color: #F95466;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #F95466;
    border-color: #F95466;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #FE6E7E;
    border-color: #FE6E7E
}
.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,
fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    background-color: #fed136;
    border-color: #fed136
}
.btn-xl .badge {
    color: #F95466;
    background-color: #fff
}
.navbar-default {
    background-color: rgba(0, 0, 0, 1);
    border-color: transparent
}
.navbar-default .navbar-brand {
    background-image: url(../img/logo-s.svg);
    background-size: 260px 45px;
    width: 260px;
    height: 45px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-default .navbar-brand.active,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #fec503
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .nav li a {
    font-family: 'Montserrat-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #fff
}
.navbar-default .nav li a:focus,
.navbar-default .nav li a:hover {
    color: #FFCE86;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background: 0 0
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFCE86;
    background: 0 0
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
        background: 0 0
    }
    .navbar-default.navbar-shrink {
        background: #f95466;
        background: -moz-linear-gradient(left, #f95466 0, #ff9666 100%);
        background: -webkit-linear-gradient(left, #f95466 0, #ff9666 100%);
        background: linear-gradient(to right, #f95466 0, #ff9666 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f95466', endColorstr='#ff9666', GradientType=1);
        padding: 10px 0;
        -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07);
        -moz-box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07);
        box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07)
    }
    .navbar-default.navbar-shrink .navbar-brand {
        background-image: url(../img/logo-s.svg);
        background-size: 240px 42px;
        width: 240px;
        height: 42px
    }
}
#portfolio {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    text-align: center;
    color: #fff
}
header {
    background-image: url(../img/home-head-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    color: #fff;
}
.intro-text {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 260px;
	padding-top: 80px;
}
.intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}
.intro-text .intro-heading {
    font-family: Montserrat-UltraLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 0;
}

.pre-txt{
	font-family: Montserrat-UltraLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffce86;
	font-size: 15px
}
.intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px
}
.intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px
}
#portfolio .portfolio-item .portfolio-caption p,
section h3.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic
}
section {
    padding: 100px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px
}
@media (min-width: 768px) {
    section {
        padding: 150px 0
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none
}
#portfolio {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    height: 450px
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    margin: 0
}
footer span.copyright,
footer ul.quicklinks {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
}
#portfolio * {
    z-index: 2
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}
.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul,
.timeline>li:last-child {
    margin-bottom: 0
}
.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}
.timeline>li:after {
    clear: both
}
.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}
.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}
.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.contratar-wrap h3, .prestar-serv h3{color: #fff; padding: 0 7%; margin-bottom: 0px;}
.contratar-wrap span{color: #7be8ff; float: right; margin: 0 8%;}
.prestar-serv span{color: #db9dff; float: left; margin: 0 8%;}
.contratar-wrap h3{text-align: right}
.prestar-serv h3{text-align: left}
.prestar-serv .seta-img-wrap{float: right; margin: 4% 8%;}
.contratar-wrap .seta-img-wrap{float: left; margin: 4% 8%;}
.seta-img-wrap {width: 30%}
.seta-img-wrap img{width: 100%; height: auto}
.prestar-serv span, .contratar-wrap span{font-size: 11px}
.contratar-wrap, 	.prestar-serv{ width: 48%;}
.contratar-wrap{margin: 0px 2% 0px 0px}
.prestar-serv{margin: 0 0 0 2%}
.apps-download-links-wrap{text-align: center; margin-top: -5.1%;}
@media (min-width: 481px){
	.intro-text {
			    padding-top: 80px;
			    padding-bottom: 81.1%;
			    position: relative;
    }
    .contratar-wrap, .prestar-serv{
			width: 18.5%;
			height: 120px;
			display: block;
			border-radius: 10px;
	} 
	.contratar-wrap{margin-top: 36%}
	.prestar-serv{margin-top: 31%}
	.contratar-wrap h3, .prestar-serv h3{
		font-size: 20px
	}
	.intro-text{ background-image: url(../img/fundo-pessoas-home.png); }
	.contratar-wrap .seta-img-wrap{float: right; margin: 4% 4%;}
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
    
    .intro-text {
			    padding-top: 130px;
			    padding-bottom: 500px;
			    position: relative;
    }
    .contratar-wrap, .prestar-serv{
			width: 135px;
			height: 125px;
			display: block;
			border-radius: 10px;
	} 
	.contratar-wrap{margin-top: 26%}
	.prestar-serv{margin-top: 19.5%}
	.intro-text .intro-heading{font-size: 50px;}
    .pre-txt{font-size: 25px}
    .contratar-wrap h3, .prestar-serv h3{margin-top: 10px!important}
    .apps-download-links-wrap{margin-top: -45px;}
}
@media (min-width: 992px) {
    .timeline>li .timeline-panel,
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
    .standard-header h1{line-height: 300px; font-size: 50px;}
    .contratar-wrap, .prestar-serv{
			width: 175px;
			height: 160px;
			display: block;
			border-radius: 10px;
	} 
	.navbar-nav > li{float: right; }
	.contratar-wrap{margin-top: 23%}
	.prestar-serv{margin-top: 16.8%}
	.intro-text {
			    padding-top: 150px;
			    padding-bottom: 620px;
			    position: relative;
    }
    .f-left {float: left!important; }
    .contratar-wrap h3, .prestar-serv h3{font-size: 26px; }
    .apps-download-links-wrap{margin-top: -55px;}
}
@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
    
    .contratar-wrap, .prestar-serv{
			width: 210px;
			height: 205px;
			display: block;
			border-radius: 10px;
	} 
	.contratar-wrap{margin-top: 24%;}
	.prestar-serv{margin-top: 16.8%}
	.intro-text {
			    padding-top: 150px;
			    padding-bottom: 750px;
			    position: relative;
    }
    .contratar-wrap h3, .prestar-serv h3{font-size: 36px}
}
.team-member {
    text-align: center;
    margin-bottom: 50px
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}
.team-member p {
    margin-top: 0
}
aside.clients img {
    margin: 50px auto
}
section#contact {
    background-color: #555;
    background-image: url(../img/map-image.png);
    background-position: center bottom;
    background-repeat: no-repeat
}
section#contact .section-heading {
    color: #fff
}
section#contact .form-group {
    margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}
section#contact .form-group input.form-control {
    height: auto
}
section#contact .form-group textarea.form-control {
    height: 236px
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}
section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact .text-danger {
    color: #e74c3c
}
footer {
    padding: 25px 0;
    text-align: center;
    background: #444444
}
footer span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    color: #F95466
}
.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
    outline: 0
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}
.portfolio-modal .close-modal:hover {
    opacity: .3
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
    text-shadow: none;
    background: #FFCE86;
    color: #fff
}
::selection {
    text-shadow: none;
    color: #fff;
    background: #FFCE86
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
.btn-baixe,
.btn-baixe a {
    font-weight: 700;
    font-size: 16px
}
@media (max-width: 767px) {
    header {
        background-position: 0 51px;
    }
    .navbar-default {
        background: #f95466;
        background: -moz-linear-gradient(left, #f95466 0, #ff9666 100%);
        background: -webkit-linear-gradient(left, #f95466 0, #ff9666 100%);
        background: linear-gradient(to right, #f95466 0, #ff9666 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f95466', endColorstr='#ff9666', GradientType=1);
        -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07);
        -moz-box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07);
        box-shadow: 0 20px 40px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07);
        border-color: transparent
    }
    .navbar-default .navbar-brand {
        background-image: url(../img/logo-s.svg);
        background-size: 200px 36px;
        background-repeat: no-repeat;
        width: 184px;
        height: 35px;
        margin-top: 5px
    }
    .intro-text .intro-heading{text-shadow: 2px 2px rgba(0,0,0,0.188);}
}

/*  ==========================================================================================
	*****   Código adicionado por juan@eokoe.com  **********
    ==========================================================================================*/
	.contratar-wrap{
	   	background-color: rgba(21,188,254,0.8);
	   	float: left
	}
	.contratar-wrap:hover{background-color: rgba(21,188,254,1);}

	.prestar-serv { 
		background-color: rgba(122,63,171,0.8);
		float: right;
	}
	
	.prestar-serv:hover{background-color: rgba(122,63,171,1);}
	
	
	header.q-c-header, .como-funciona-wrap{
		background-color: #27b67c ;
		background-image: url(../img/bg-ilustra-contratar.png)!important;
		background-repeat: repeat;
		background-size: 600px 600px;
	}
	
	header.q-o-servicos-header, .como-funciona-wrap-q-p-s{
		background-color: #5a3873;
		background-image: url(../img/bg-ilustra-prestar.png);
		background-repeat: repeat;
		background-size: 600px 600px;
	}
	.txt-principal-wrap-q-c, .q-c-foto-header-wrap{
		padding: 150px 0 0 0;
	}
	.q-c-foto-header-wrap img {width: 100%}
	.txt-principal-wrap-q-c h2{display: inline-block;}
	.depoim-links-soc-wrap{background: #ffffff; }
	.links-soc{list-style: none; text-align: left; padding: 0;}
	.links-soc li a{border-radius: 100%; background-color: #ff9966; color: #ffffff; width: 40px; height: 40px; display: block; font-size: 25px; line-height: 40px; display: inline-block; text-align: center}
	.links-soc li{padding: 7px 0}
	.links-soc-wrap h4{color: #33cc99; margin: 0 0 30px; text-align: left;}
	.q-o-servicos-header .depoim-links-soc-wrap .links-soc-wrap h4{color: #663399}
	.depoimentos-serv-contr{padding-left: 0!important;}
	.depoimentos-serv-contr h2{text-align: left; margin: 60px 0 40px;}
	.depoimentos-serv-contr h2, .depoimento p, .a-diarissima-txt, .depoimento-servidores p{color: #444444}
	.depoimento h4, .a-diarissima-txt h3{color: #33cc99; text-transform: none;}
	.depoimento-servidores h4{color: #663399}
	
	.depoimento{text-align: left; padding-left: 0!important; }
	.a-diarissima-txt{padding-left: 0}
	.a-diarissima-txt p dfn{font-size: 9px; line-height: 1.75; vertical-align: super;}
	.a-diarissima-txt hr{
		border-top: 1px solid #b1b0b2
	}
	.a-diarissima-glosario{font-size: 11px}
	.a-diarissima-q-p-s .a-diarissima-txt h3{color: #663399}
	
	/* ****Section Como funciona?**** */
	
	.como-funciona-wrap, .como-funciona-wrap-q-p-s{
		color: #ffffff;
		padding: 75px 0 150px;  
	}
	.a-diarissima-wrap{
		padding: 75px 0
	}
	.term-uso-content-wrap{ padding: 40px 0}
	
	#services{ padding: 45px; }
	
	/* ************ Slider **************  */
	
	.como-f-prev img{transform: rotate(180deg);}
	.como-f-next, .como-f-prev{
		display: inline-block;
		line-height: 100%;
		width: 100%;
	}
	.depoimentos-serv-contr:after{
		clear: both; display: block; content: '&nbsp;'; height: 1px; width: 100%;
	}
	
	.standard-header{ height: 300px; line-height: 340px; background-image: url(../img/baixe-bg.jpg);}
	.standard-header h1{ text-transform: none;  font-weight: 300; margin: 0}
	.c-f-txt-wrap{text-align: left}
	.carousel-inner > .item{padding: 7%;}
	.wider-navbar-d{ margin: 0 10px 0 }
	.c-f-img-wrap img{width: 70%; height: auto;}
	@media screen and (max-width:480px){
		.contratar-wrap h3, .prestar-serv h3{height: 79px}
		.contratar-wrap, .prestar-serv{border-radius: 10px}
	}
	@media screen and (min-width:768px) and (max-width: 991px){
		.c-f-img-wrap img{ width: 100%; height: auto;}
		.nav > li > a{padding: 16px 10px 10px!important;}
	}
	@media screen and (min-width: 1200px){
		.c-f-img-wrap img{width: 50%; height: auto;}
		
	}
	@media screen and (max-width: 767px){
		.c-f-img-wrap img{width: 50%; height: auto}
		.txt-principal-wrap-q-c, .q-c-foto-header-wrap{ padding: 60px 0 0} 
		
	}
	@media screen and (max-width: 991px){
		.links-soc li {display: inline-block; margin: 0 10px}
		.links-soc-wrap h4{margin: 20px 0}
		.q-c-foto-header-wrap img{
			margin: 20px 0 40px;
		}
		.footer-links {text-align: center; margin: 40px 0 0;}
		.footer-link-big{ margin: 20px 0 0;}
		.footer-links a { text-align: center; }
		.standard-header h1{font-size: 20px;}
		
	}
	
	.term-uso-body{background-color: #f3f3f5; color: #4e5359;}
	.term-usi-inner { width: 90%; background-color: #fff; max-width: 1024px; position: relative; margin: 4em auto; padding: 70px 40px 40px; line-height: 25px;}
	.term-usi-inner p{font-size: 18px;}
	.termu-ol li ul{list-style: none; }
	.termu-ol li{margin: 20px 0}
	
	.f-left a{font-family: 'Montserrat-SemiBold'!important}
	
	.navbar-nav{width: calc( 100% - 270px );}
	/* **************************************
		
		Botões download na home
		
	   ************************************** */
	   
	
	
	.downl-google-play{width: 18%; display: inline-block}
	.downl-app-store {width: 16%; display: inline-block}
	.downl-google-play img{width: 100%; height: auto}